<div class="container">

  <div class="">
    <ul class="row">
      <li class="col-md-12"><%= image_tag 'icon.png', :class => "home_icon"%></li>
    </ul>
  </div>

  <div class="message">
    <ul class="row">
      <li class="col-md-12">Phase2</li>
      <li class="col-md-12">Big Task</li>
      <li class="col-md-12">It's my Twitter Clone.</li>
    </ul>
  </div>

  <div class="contents">
    <ul class="row">
      <li class="col-sm-6 col-md-3">contents</li>
      <li class="col-sm-6 col-md-3">contents</li>
      <li class="col-sm-6 col-md-3">contents</li>
    </ul>
  </div>
</div>
