// Place all the styles related to the blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.blog-panel {
  height: 200px;
  margin: 0;
  padding: 0;
}

.screen {
  padding: 50px;
}

li{
    list-style:none;
}
ul{
    padding:0;
}

.header{
    font-size:20px;
    font-weight:bold;
    text-align:center;
}

.message li{
    background-color:#F0F8FF;
    color:#00BFFF;
    padding:1%;
}

.container {
  padding: 2%;
  height: 100%;
}

.home_icon {
  width: 370px;
}

.contents li{
  background-color:#D8BFD8;
  color:#fff;
  padding:1%;
}
